{
  "subject": "Invitation to join Distant Socialing",
  "from": "no-reply@goto.ucsd.edu",
  "bodyHtml": "http://ip/signup?code={{invitationId}}.{{invitationCode}}",
  "bodyPlain": "http://ip/signup?code={{invitationId}}.{{invitationCode}}"
}