{
  "subject": "Invitation to join Distant Socialing",
  "from": "distant.socialing.team@gmail.com",
  "bodyPlain": "Welcome to Distant Socialing -- aka Disco!\n\nPLMW will be using this website to simulate the "hallway track" where you can meet and talk to other groups of participants on video.\n\nPlease click the link below to register and log into the website.\n\nhttps://disco.programming.systems/signup?code={{invitationId}}.{{invitationCode}}.\n\nIf you have any trouble registering or logging in, please let us know at distant.socialing.team@gmail.com.\n\nWe hope you have fun using the site and at PLMW!\n\n- The DisCo team"
}
